body {
  background: #f2f2f2;
  overflow-x: hidden;
}


.App__form {
  max-width: 700px;
  padding: 37px 37px;
  margin: 37px auto;
  box-shadow: 1px 30px 60px 8px rgb(70 72 228 / 7%);
}


.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 850px;
  height: 450px;
  border-radius: 10px;
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}